<!-- <div class="row">
    <div class="col-md-2 sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div> -->

<div class="page-wrapper chiller-theme toggled">
    <app-sidebar></app-sidebar>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
  
      <router-outlet></router-outlet>
    </main>
  
  </div>