li {
    list-style-type: none;
  }
  
  .sidebar-dropdown:focus {
    outline: none;
  }
  .search-user {
    position: absolute;
    z-index: 99;
    background: white;
    width: 84%;
    li {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
    max-height: 330px;
    overflow: auto;
    h6 {
      white-space: nowrap;
      width: 141px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  img.avatar {
    border-radius: 50%;
  }
  .list-group-item {
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .no-result {
    padding: 0.5rem 1rem;
  }
  
  
  .logout{
    color: #137fb3 !important;
  
  }