<a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper d-none d-md-block">
    <div class="sidebar-content">
        <!-- <div class="sidebar-brand">
            <img class="py-1 w-100" src="/assets/logo.jpeg">


        </div> -->
        <!-- <div class="sidebar-header d-flex">
            <div class="user-pic" *ngIf="this.user && this.usSSSSer.userPic">
                <img class="img-responsive img-rounded" [src]="this.user?.userPic"
                    onerror="this.src ='/assets/user.jpg'" alt="User picture">
            </div>
            <div class="user-pic" *ngIf="!(this.user && this.user.userPic)">
                <img class="img-responsive img-rounded" src="/assets/user.jpg" alt="User picture">
            </div>
            <div class="user-info">
                <h5 class="user-name  text-capitalize">{{this.user?.name}} </h5>
                <span class="user-role">{{roles[this.user?.role]}}</span>
                <span class="user-role logout pointer" (click)="logout()">Sign out</span>


            </div>
        </div> -->

        <!-- sidebar-search  -->
        <div class="sidebar-menu " id="accordion">
            <ul>

                <li class="sidebar-dropdown" [routerLink]="['/walkins']" [routerLinkActive]="['active']">
                    <a class="dropdown-btn">
                        <i class="fas fa-bullhorn"></i>
                        <span>Walk Ins</span>
                    </a>

                </li>
                <li class="sidebar-dropdown" [routerLink]="['/incoming-calls']" [routerLinkActive]="['active']">
                    <a class="dropdown-btn">
                        <i class="fas fa-stopwatch"></i>
                        <span> Incoming Call</span>
                    </a>
                </li>
                <li class="sidebar-dropdown" [routerLink]="['/lead-gen']" [routerLinkActive]="['active']">
                    <a class="dropdown-btn">
                        <i class="fas fa-check"></i>
                        <span>Lead Gen</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu -->
    </div>

</nav>