<div class="page-header px-2">
  <ng-container [ngSwitch]="pageCategory">
    <span *ngSwitchCase="'client'" class="font-30 ">Walk Ins Latest List</span>
    <span *ngSwitchCase="'inprogress'" class="font-30 ">Walk Ins Inprogress List</span>
    <span *ngSwitchCase="'final'" class="font-30 ">Walk Ins Final List</span>

  </ng-container>

  <!-- <span class="font-30 ">Clients List</span> -->
  <select class="m-2 form-control w-15 d-inline" (change)="switchCategory($event)">
    <option selected value="client">Latest</option>
    <option value="inprogress">InProgress</option>
    <option value="final">Final</option>
  </select>
  <label class="fileContainer">
    Upload Excel File
    <input type="file" (change)="onFileChange($event)" multiple="false"
      accept=".csv, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
  </label>
</div>
<div class="page-body">


  <button class="btn btn-primary float-right m-2" *ngIf="data && data.length" (click)="saveToDB()">Save to
    Database</button>
  <button class="btn btn-danger float-right m-2" *ngIf="data && data.length" (click)="cancelSaveToDB()"> Cancel</button>

  <table class="table" *ngIf="data && data.length">
    <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{val}}
      </td>
    </tr>
  </table>

  <div class="p-1" *ngIf="(!isElementLoading)  && !(data && data.length)">
    <div class="form-group float-left w-25 ">
      <h6 for="filterby" class="">Sort By:</h6>
      <select class="form-control " name="filterby" [(ngModel)]="filter.sort" (change)="getList()">
        <option value="name" selected>Name</option>
        <option value="email">Email</option>
        <option value="craetedAt">Created At</option>
      </select>
    </div>
    <div class="form-group float-right w-25 ">
      <h6 for="filterby" class="">Search Here:</h6>
      <input class="form-control " [(ngModel)]="filter.where" (keyup)="searchChangeEvent($event)" type="text"
        placeholder="Search..">
    </div>

    <div class="table-responsive table-hover table-striped pt-2">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>phone</th>
            <th>course</th>
            <th>date</th>
            <th>dob</th>
            <th>qualifications</th>
            <th>year Of Passing</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.course}}</td>
            <td>{{user.date}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.qualifications}}</td>
            <td>{{user.yearOfPassing}}</td>

            <td class="color-primary">
              <ng-container [ngSwitch]="pageCategory">

                <span *ngSwitchCase="'client'" class="mr-3 pointer btn btn-primary text-uppercase"
                  (click)="openDetails(infotemplate, user)"> <i class="fa fa-info-circle px-1" aria-hidden="true"></i>
                </span>
                <span *ngSwitchCase="'inprogress'" class="mr-3 pointer btn btn-primary text-uppercase"
                  (click)="openDetails(inprogressinfotemplate, user)"> <i class="fa fa-info-circle px-1"
                    aria-hidden="true"></i>
                </span>
                <span *ngSwitchCase="'final'" class="mr-3 pointer btn btn-primary text-uppercase"
                  (click)="openDetails(finalinfotemplate, user)"> <i class="fa fa-info-circle px-1"
                    aria-hidden="true"></i>
                </span>
              </ng-container>
              <span class="pointer btn btn-danger text-uppercase" (click)="deleteUser(deletedialog, user)"> <i
                  class="fa fa-trash px-1" aria-hidden="true"></i></span>
            </td>
          </tr>

        </tbody>
      </table>

      <div class="w-100 text-center">
        <pagination [totalItems]="totalItems" [itemsPerPage]="filter.itemPerPage" [maxSize]="5"
          [(ngModel)]="filter.pageNo" (pageChanged)="getNextList($event)"></pagination>
      </div>
    </div>
  </div>

  <h6 *ngIf="isElementLoading">Loading...</h6>
</div>


<!-- ********************** User Detail Dialog******************* -->
<ng-template #infotemplate>

  <!-- <div-header>Client Details</div-header> -->
  <div class="modal-body">
    <form [formGroup]="clientForm">
      <div class="row">
        <div class="col-md-4">
          <h6>Name</h6>
          <p>{{selectedClient.name || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Email</h6>
          <p>{{selectedClient.email || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Phone</h6>
          <p>{{selectedClient.phone || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Course</h6>
          <p>{{selectedClient.course || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Date</h6>
          <p>{{selectedClient.date || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>DOB</h6>
          <p>{{selectedClient.dob || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Qualifications</h6>
          <p>{{selectedClient.qualifications || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Year of Passing</h6>
          <p>{{selectedClient.yearOfPassing || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Counselor</h6>
          <p>{{selectedClient.counselor || '---'}}</p>
        </div>

        <div class="col-md-4">
          <h6>Reference</h6>
          <p>{{selectedClient.reference || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Feedback</h6>
          <p>{{selectedClient.feedback || '---'}}</p>
        </div>
        <div class="col-md-12">
          <h6>Remarks</h6>
          <p>{{selectedClient.remarks || '---'}}</p>
          <p>{{selectedClient.remarks1}}</p>
          <p>{{selectedClient.remarks2}}</p>
        </div>

        <div class="col-md-4">
          <h6>Fee</h6>
          <input type="text" class="form-control" formControlName="fee" placeholder="Fee">
        </div>
        <div class="col-md-4">
          <h6>Schedule Call Date</h6>
          <input placeholder="Schedule Call" class="form-control" formControlName="scheduleCall" bsDatepicker>
        </div>
        <div class="col-md-4">
          <h6 for="dateofjoining">Date of Joining</h6>
          <input placeholder="Date of Joining" class="form-control" formControlName="dateOfJoining" name="dateofjoining"
            bsDatepicker>
        </div>
        <div class="col-md-12 mt-1">
          <h6>Note</h6>
          <textarea rows="3" class="form-control" formControlName="details" placeholder="Any Note"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button nbButton class="btn btn-primary mr-3" (click)="saveUser();">Save</button>
    <button nbButton class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
  </div>

</ng-template>


<!-- ********************** User final Detail Dialog******************* -->
<ng-template #inprogressinfotemplate>

  <div class="modal-body">
    <form [formGroup]="clientForm">

      <div class="row">
        <div class="col-md-4">
          <h6>Name</h6>
          <p>{{selectedClient.name || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Email</h6>
          <p>{{selectedClient.email || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Phone</h6>
          <p>{{selectedClient.phone || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Course</h6>
          <p>{{selectedClient.course || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Date</h6>
          <p>{{selectedClient.date || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>DOB</h6>
          <p>{{selectedClient.dob || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Qualifications</h6>
          <p>{{selectedClient.qualifications || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Year of Passing</h6>
          <p>{{selectedClient.yearOfPassing || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Counselor</h6>
          <p>{{selectedClient.counselor || '---'}}</p>
        </div>

        <div class="col-md-4">
          <h6>Reference</h6>
          <p>{{selectedClient.reference || '---'}}</p>
        </div>
        <div class="col-md-4">
          <h6>Feedback</h6>
          <p>{{selectedClient.feedback || '---'}}</p>
        </div>

        <div class="col-md-12">
          <h6>Remarks</h6>
          <p>{{selectedClient.remarks || '---'}}</p>
          <p>{{selectedClient.remarks1}}</p>
          <p>{{selectedClient.remarks2}}</p>
        </div>
        <div class="col-md-4">
          <h6>Fee</h6>
          <input type="text" class="form-control" formControlName="fee" placeholder="Fee">
        </div>
        <div class="col-md-4">
          <h6>Schedule Call Date</h6>
          <input placeholder="Schedule Call" class="form-control" formControlName="scheduleCall" bsDatepicker>
        </div>
        <div class="col-md-4">
          <h6 for="dateofjoining">Date of Joining</h6>
          <input placeholder="Date of Joining" class="form-control" formControlName="dateOfJoining" name="dateofjoining"
            bsDatepicker>
        </div>
        <div class="col-md-12 mt-1">
          <h6>Note</h6>
          <textarea rows="3" class="form-control" formControlName="details" placeholder="Any Note"></textarea>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">

    <button nbButton class="btn btn-primary mr-3" (click)="modalRef.hide(); sendToFinal();">Move to Final</button>
    <button nbButton class="btn btn-primary mr-3" (click)="modalRef.hide(); updateUser();">Update</button>
    <button nbButton class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
  </div>

</ng-template>


<!-- ********************** User Detail Dialog******************* -->
<ng-template #finalinfotemplate>
  <div class="modal-header">
    <h3> Client Details</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <h6>Name</h6>
        <p>{{selectedClient.name || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Email</h6>
        <p>{{selectedClient.email || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Phone</h6>
        <p>{{selectedClient.phone || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Course</h6>
        <p>{{selectedClient.course || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Date</h6>
        <p>{{selectedClient.date || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>DOB</h6>
        <p>{{selectedClient.dob || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Qualifications</h6>
        <p>{{selectedClient.qualifications || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Year of Passing</h6>
        <p>{{selectedClient.yearOfPassing || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Counselor</h6>
        <p>{{selectedClient.counselor || '---'}}</p>
      </div>

      <div class="col-md-4">
        <h6>Reference</h6>
        <p>{{selectedClient.reference || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Feedback</h6>
        <p>{{selectedClient.feedback || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Fee</h6>
        <p>{{selectedClient.fee || '---'}}</p>
      </div>
      <div class="col-md-12">
        <h6>Remarks</h6>
        <p>{{selectedClient.remarks || '---'}}</p>
        <p>{{selectedClient.remarks1}}</p>
        <p>{{selectedClient.remarks2}}</p>
      </div>
      <div class="col-md-4">
        <h6 for="dateofjoining">Date of Joining</h6>
        <p>{{selectedClient.dateOfJoining || '---'}}</p>
      </div>
      <div class="col-md-4">
        <h6>Note</h6>
        <p>{{selectedClient.details || '---'}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button nbButton class="btn btn-danger" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>


<!-- ******************* Delete Dialog********************** -->
<ng-template #deletedialog>

  <div class="modal-header">Delete Client?</div>
  <div class="modal-body">Are u sure u want to delete {{selectedClient?.name}}?</div>
  <div class="modal-footer">
    <button nbButton class="btn btn-danger mr-3" (click)="deleteConfirm()">Yes</button>
    <button nbButton class="btn btn-primary" (click)="deletecancel()">No</button>
  </div>

</ng-template>