.fileContainer {
  overflow: hidden;
  position: relative;
  /* background: #123ecf; */
  color: #5c87ff;
  float: right;
  border-radius: 22px;
  font-size: 16px;
  padding: 7px;
  font-weight: 600;
  border: 2px solid;
  border-color: #5c87ff;
}

.fileContainer [type="file"] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.table{
    th{
        text-transform: capitalize;
    }
}
.w-15{
  width: 15%;
}